@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: hsl(0 0% 100%); /* Global background color for pages and containers */
  --foreground: #374151; /* Default text color for primary content */
  --card: hsl(0 0% 100%); /* Background color for card components */
  --card-foreground: hsl(222.2 84% 4.9%); /* Text color within card components */
  --popover: hsl(0 0% 100%); /* Background color for popover components */
  --popover-foreground: hsl(222.2 84% 4.9%); /* Text color for content inside popovers */

  --primary-foreground: hsl(210 40% 98%); /* Text color on primary-colored elements */
  --secondary-foreground: hsl(222.2 47.4% 11.2%); /* Text color on secondary-colored elements */
  --button-hover: #E59500;
  --muted: hsl(210 40% 96.1%); /* Background color for muted or less emphasized UI elements */
  --muted-foreground: hsl(215.4 16.3% 46.9%); /* Text color for muted elements or secondary information */
  --accent: hsl(210 40% 96.1%); /* Accent color to highlight or draw attention to specific elements */
  --accent-foreground: hsl(222.2 47.4% 11.2%); /* Text color on accent backgrounds */
  --destructive: hsl(0 84.2% 60.2%); /* Background color for destructive actions, like delete buttons */
  --destructive-foreground: hsl(210 40% 98%); /* Text color on destructive elements to ensure clarity */
  --border: #e5e7eb; /* Standard border color for elements like dividers and outlines */

  --input: hsl(214.3 31.8% 91.4%); /* Background color for form input fields */
  --ring: hsl(222.2 84% 4.9%); /* Focus ring color used for interactive elements like inputs and buttons */
  --chart-1: hsl(12 76% 61%); /* Color for the first data series in charts or graphs */
  --chart-2: hsl(173 58% 39%); /* Color for the second data series in charts or graphs */
  --chart-3: hsl(197 37% 24%); /* Color for the third data series in charts or graphs */
  --chart-4: hsl(43 74% 66%); /* Color for the fourth data series in charts or graphs */
  --chart-5: hsl(27 87% 67%); /* Color for the fifth data series in charts or graphs */
  --radius: 0.6rem; /* Base border radius for rounded corners on elements */
  --inactive: #1e40af26;
  --sidebar: #ffffff;
  --sidebar-foreground: #3f3f46; /* duplicate of --foreground */
  --sidebar-primary: hsl(240 5.9% 10%); /* duplicate of --primary */
  --sidebar-primary-foreground: hsl(0 0% 98%); /* duplicate of --primary-foreground */
  --sidebar-accent: hsl(240 4.8% 95.9%); /* duplicate of --accent */
  --sidebar-accent-foreground: hsl(240 5.9% 10%); /* duplicate of --accent-foreground */
  --sidebar-border: hsl(220 13% 91%); /* duplicate of --border */
  --sidebar-ring: hsl(217.2 91.2% 59.8%); /* duplicate of --ring */
  --content-background: #f9fafb; /* duplicate of --background */
  --table-background-primary: #e5e7eb;
  --table-background-secondary: #f9fafb;
  --table-border: #d1d5db; /* different from --border */
  --text-primary: #374151;
  --input-placeholder: #6b7280;

  --primary: #FFA600; /* Primary action color used in buttons and links */
  --secondary: #FFA6001a;
  --highlight: #FFA6001a; /* Secondary action color for alternative buttons or elements */
  --third: #FFA6004d;
  --primary-hover: #E59500;
  --primary-active: #CC8500;
  --primary-shadow: #FBBF24;

  --policiesAndProcedures-primary: #6da017;
  --policiesAndProcedures-highlight: #6da0171a; /* secondary */
  --policiesAndProcedures-third: #6da0174d;
  --policiesAndProcedures-accent: #6da017c9; /* hover */
  --policiesAndProcedures-active: #6da017a5;
  --policiesAndProcedures-primary-shadow: #a8cd35;

  --forms-primary: #08a273;
  --forms-primary-hover: #08966c;
  --forms-highlight: #09bc7d1a;

  --inspections-primary: #337cf3;
  --inspections-primary-hover: #2d6ce8;
  --inspections-highlight: #337cf31a;
}

.dark {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  --card: #020817;
  --card-foreground: hsl(210 40% 98%);
  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);
  --primary: hsl(210 40% 98%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);
  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);
  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.7 26.8% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-[var(--text-primary)]; /* Using the variable */
  }
}

/* shadcn - charts */
@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Tailwind-idiomatic */
@layer portal {
  .bg-highlight,
  .hover\:bg-highlight:hover,
  .active\:bg-highlight:active,
  .data-\[state\=active\]\:bg-highlight[data-state='active'] {
    background-color: var(--highlight);
  }
}

/* Tailwind-idiomatic */
@layer policiesAndProcedures {
  .text-policiesAndProcedures,
  .hover\:text-policiesAndProcedures:hover,
  .active\:text-policiesAndProcedures:active,
  .data-\[state\=active\]\:text-policiesAndProcedures[data-state='active'] {
    color: white;
  }

  .text-policiesAndProcedures-primary {
    color: var(--policiesAndProcedures-primary);
  }

  .bg-policiesAndProcedures-primary {
    background-color: var(--policiesAndProcedures-primary);
  }

  .bg-policiesAndProcedures-highlight,
  .hover\:bg-policiesAndProcedures-highlight:hover,
  .active\:bg-policiesAndProcedures-highlight:active,
  .data-\[state\=active\]\:bg-policiesAndProcedures-highlight[data-state='active'] {
    background-color: var(--policiesAndProcedures-accent);
  }

  .bg-policiesAndProcedures-highlight,
  .hover\:bg-policiesAndProcedures-highlight:hover,
  .active\:bg-policiesAndProcedures-highlight:active,
  .data-\[state\=active\]\:bg-policiesAndProcedures-highlight[data-state='active'] {
    background-color: var(--policiesAndProcedures-highlight);
  }

  .border-policiesAndProcedures-primary {
    border-color: var(--policiesAndProcedures-primary);
  }
}

.tox .tox-statusbar__branding {
  display: none !important;
}

.mce-content-body .mce-spellchecker-word {
  text-decoration: underline wavy red;
}
